.form_component{
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  justify-content: center;
}

.form_header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.title_input{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #E0CCFC;
  padding-bottom: 15px;
  width: 100%;
  font-size: 28px;
}

.calendar_icon{
  display: none;
}

.clock_icon{
  display: none;
}

.date_picker{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time_picker{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input_title{
  padding: 15px 25px;
}

.comment_input{
  padding-bottom: 8px;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #E0CCFC;
}

.error_message{
  background-color: red;
  color: white;
  font-weight: 600;
  border-radius: 15px;
  font-size: 18px;
  padding: 15px 20px;
}

.button_container{
  display: flex;
  justify-content: right;
}

.add_button{
  border: none;
  color: white;
  font-size: 19px;
  cursor: pointer;
  width: 150px;
  height: 40px;
  
}

@media (min-width: 768px) {

  .form_component{
    gap: 15px;
  }

  .date_picker{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: start;
  }

  .time_picker{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: start;
    width: 100%;
  }

  .calendar_icon{
    display: block;
    font-size: 25px;
  }

  .clock_icon{
    display: block;
    font-size: 25px;
  }
}

@media (min-width: 1024px) {
  .form_component{
    width: 900px;
  }

}
